



/* start services */

.services .content .cont {
    align-items: center;
}

.services .content .cont.rtl .left,
.services .content .cont .left {
    transform: translateX(0px) translateY(0px);
    -webkit-transform: translateX(0px) translateY(0px);
    -moz-transform: translateX(0px) translateY(0px);
    -ms-transform: translateX(0px) translateY(0px);
    -o-transform: translateX(0px) translateY(0px);
}

.services .content .cont .left {
    flex-basis: 55%;
}












